
<form (submit)="addTrade()">

  <div *ngIf="fieldIndex == 1">
    <h3>Stock Symbol: </h3>
    <input [(ngModel)]="stockSymbol" name="stockSymbol"
         class="form-control col-sm" style="width: 70%; float:left;" type="text">
  </div>

  <div *ngIf="fieldIndex == 2">
    <h3>Initial Price: </h3>
    <input [(ngModel)]="initialPrice" name="initialPrice"
         class="form-control col-sm" style="width: 70%; float:left;" type="text">
  </div>
  
  <div *ngIf="fieldIndex == 3">
    <h3>Prediction Price: </h3>
    <input [(ngModel)]="predictionPrice" name="predictionPrice"
         class="form-control col-sm" style="width: 70%; float:left;" type="text">
  </div>
  
  <div *ngIf="fieldIndex == 4">
    <h3>Stop Price: </h3>
    <input [(ngModel)]="stopPrice" name="stopPrice"
         class="form-control col-sm" style="width: 70%; float:left;" type="text">
  </div>

  <div *ngIf="fieldIndex == 5">
    <h3>Prediction Date (MM-dd-yyyy): </h3>
    <input [(ngModel)]="predictionDate" name="predictionDate"
         class="form-control col-sm" style="width: 70%; float:left;" type="text">
  </div>

</form>

<button type="button" *ngIf="fieldIndex == 5" (click)="addTrade()" 
        style="float: left; margin-left: 15px; border-radius: 3px;" class="btn btn-info">Submit</button>

<button type="button" *ngIf="fieldIndex != 5" (click)="nextField()" 
        style="float: left; margin-left: 15px; border-radius: 3px;" class="btn btn-info">Next</button>

<button type="button" *ngIf="fieldIndex != 1" (click)="prevField()" 
        style="float: left; margin-left: 15px; border-radius: 3px;" class="btn btn-warning">Prev</button>

<div style="clear: both"></div>

<h3> Notifications: </h3>
<ul  class="list-group">
  <li *ngFor="let notification of notifications"  class="list-group-item">
    <span (click)="editTrade(notification)"> {{notification.text}} </span>
    <button (click)="deleteTrade(notification.text)" class="btn btn-danger btn-xs" 
            style="border-radius: 5px; margin-left: 8px;">x</button>
  </li>
</ul>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Current Results for trades: </div>
  <div class="panel-body">
    <p>Statistics...</p>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Starting Price</th>
        <th>Prediction Price</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let trade of trades">
        <td>{{ trade.stockSymbol }}</td>
        <td>{{ trade.initialPrice }}</td>
        <td>{{ trade.predictionPrice }}</td>
      </tr>
    </tbody>

  </table>
</div>